default:
    suites:
      default:
        # fix with double quotation - Behat 3.6 has good error explanation
        paths: ["%paths.base%/../features"]
        contexts: [Codeliner\CargoFeature\FeatureContext]
    extensions:
      Behat\MinkExtension:
        # use in docker-compose.yml, NOT host machine (user-defined bridge network)
        #   ALSO not yaml key  (service) "php", since nginx & php are linked, so nginx is the real hostname 
        #   and the real port that is being used for user-facing server
        base_url: http://nginx:80
        # learn from https://github.com/docksal/behat/blob/develop/example/behat.yml#L14 
        goutte: ~
        # Use goutte (basic PHP browser, super fast) as the default driver.
        default_session: goutte
        # For real browser testing and tests requiring JS use selenium2 driver.
        # Tag features/scenarios with @javascript to use the selenium2 driver.
        javascript_session: selenium2
        # Configure browser to be used. Browser must be available on wd_host.
        # Stick with "chrome" by default. It's 2x faster than firefox or phantomjs (your results may vary).
        browser_name: chrome
        # browser_name: firefox
        selenium2:
          wd_host: http://browser:4444/wd/hub